# Оценка мощности критерия

In [1]:
import pandas as pd
import numpy as np
import scipy.stats as st

def mosh(n = 2): #Функция возвращает таблицу распределения Стъюдента
    m = 1000
    per = [63, 126, 252] #периоды: квартал, полугодие, год
    k = ['Квартал', 'Полугодие', 'Год'] #название полей в таблице
    t = pd.DataFrame(index = ['Мощность']) #таблица
    for i in per: 
        val_k = 0 #cчётчк значений p-value < 0.05
        for j in range(m):
            if st.shapiro(np.random.standard_t(n, size=i))[1] < 0.05: 
                val_k += 1
        t[k[per.index(i)]] = val_k / m # [заполняем соответсвующие поля таблицы]
        
    t.to_excel(u'C:/Users/Андрюша/Desktop/Акции_курсовая/Мощность_критерия_для_распределения_Стъюдента(n = ' + str(n) + ').xlsx', index=True, encoding='cp1251')
    return t

In [2]:
mosh() #распредление Стюдентна со степенями свободы = 2

          Квартал  Полугодие  Год
Мощность    0.921      0.996  1.0

In [3]:
mosh(4) #распредление Стюдентна со степенями свободы = 4

          Квартал  Полугодие    Год
Мощность    0.519      0.776  0.964

In [4]:
mosh(6) #распредление Стюдентна со степенями свободы = 6

          Квартал  Полугодие    Год
Мощность    0.356      0.517  0.755